{{ attach_library('dds_premium/article-overview-item') }}

<div class="articles-list-item js-articles-list-item col-xs-12 col-ms-6 col-sm-4 col-md-3" data-filters="{{ filters }}">
  <a href="{{ url }}">
    <div class="articles-list-item__image">
      {{ image }}
    </div>
    <div class="articles-list-item__text">
      <div class="articles-list-item__title-wrap">
        {% if date %}
          <span class="articles-list-item__date">{{ date }}</span>
        {% endif %}
        <span class="articles-list-item__title">{{ title }}</span>
      </div>
      <span class="articles-list-item__desc">{{ desc }}</span>
    </div>
  </a>
</div>
