{{ attach_library('dds_premium/article-overview') }}
<div id="articles-overview"{{ (not attributes ? create_attribute() : attributes).addClass('') }}>
  <div class="articles-overview">
    <section class="section section--spacing-top-none section--spacing-bottom-small">
      <div class="container">
        <div class="row">
          {% if not hide_filters %}
            <div class="col-xs-12 col-ms-6 col-sm-8 col-md-4 col-lg-3 articles-overview--select-category js-articles-overview-select-category">
              {% for key, category in categories %}
                <span class="articles-overview__category-item">
                  <input type="checkbox" class="js-category-item-checkbox" id="category-{{ key }}" value="category-{{ key }}">
                  <label for="category-{{ key }}">{{ category }}</label>
                </span>
              {% endfor %}
            </div>
            <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-md-offset-1 col-lg-offset-0 articles-overview--select-month">
              <div data-selected="" class="js-months-dropdown dropdown closed">
                <span class="label">Vælg måned</span>
                <ul class="menu">
                  <li><a href="#" class="js-month-item" data-id="" data-label="Vælg måned">Alle</a></li>
                  {% for key, month in months %}
                    <li><a href="#" class="js-month-item" data-id="month-{{ key }}" data-label="{{ month }}">{{ month }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-6 articles-overview-info">
              {{ headline }}
            </div>
          {% else %}
            <div class="col-xs-12 articles-overview-info">
              {{ headline }}
            </div>
          {% endif %}
          </div>
      </div>
    </section>
    <section class="articles-overview-list section section--spacing-top-none">
      <div class="container">
        <div class="row">
          {% block items %}
            {% for item in items %}
              {% include '@molecules/article-overview-item/article-overview-item.twig' with {
                'filters': item.filters,
                'url': item.url,
                'image': item.image,
                'date': item.date,
                'title': item.title,
                'desc': item.desc
              } %}
            {% endfor %}
          {% endblock %}
        </div>
      </div>
    </section>
  </div>
</div>
