{{ attach_library('PROJECT_NAME/image') }}

{% macro image(image, caption, image_style, attributes) %}
  {% import _self as self_image %}
  <figure>
    <div{{ (not attributes ? create_attribute() : attributes).addClass('image') }}>
      {{ image|responsive_image(image_style, 'lazyload') }}
    </div>
    {% if caption %}
      <figcaption>{{ caption }}</figcaption>
    {% endif %}
  </figure>
{% endmacro %}

{% import _self as self_image %}
{% if link.url %}
  <a href="{{ link.url }}" {{ link.target_blank ? 'target="_blank"' }}>
    {{ self_image.image(image, caption, image_style, attributes) }}
  </a>
{% else %}
  {{ self_image.image(image, caption, image_style, attributes) }}
{% endif %}
