{{ attach_library('PROJECT_NAME/search-page') }}

<div{{ (not attributes ? create_attribute() : attributes).addClass('container') }}>
  <div class="search-page">
    <div class="search-page__title">
      {% if title %}
        <h2>{{ title }}</h2>
      {% endif %}
    </div>
    <div class="search-page__no-of-results">
      {% if no_of_results %}
        <p>{{ no_of_results }}</p>
      {% endif %}
    </div>
    <div class="search-page__form">
      {% block form %}
        <form action="/search" method="get" class="search-page__keys-submit">
          <div class="form-item">
            {% include '@atoms/forms/input/input.twig' with {
              'type': 'search',
              'placeholder': 'Search'|t,
              'name': 'keys'
            } %}
          </div>
          {% embed '@atoms/button/button.twig' with {
            'type': 'submit'
          } %}
            {% block content %}
              {{ 'Search'|t }}
            {% endblock %}
          {% endembed %}
        </form>
      {% endblock %}
    </div>
    {% block facets %}{% endblock %}
    <div class="search-page__results">
      {% block results %}
        {% for item in results %}
          {% include '@molecules/list-view-item/list-view-item.twig' with {
            'url': item.url,
            'image': item.image,
            'title': item.title,
            'excerpt': item.excerpt
          } %}
        {% endfor %}
      {% endblock %}
    </div>
    <div class="search-page__pager">
      {% block pager %}
        {% include '@organisms/pager/pager.twig' with {
          'items': pager.items
        } %}
      {% endblock %}
    </div>
  </div>
</div>
