{{ attach_library('PROJECT_NAME/footer') }}

{% set number_of_cols = 12 / cols|length %}
<footer class="footer">
  <div{{ (not attributes ? create_attribute() : attributes).addClass('footer__inner') }}>
    <div class="container">
      <div class="row">
        {% for col in cols %}
          <div class="col-xs-12 col-md-{{ number_of_cols }}">
            {% if col.headline %}
              <div><b>{{ col.headline }}</b></div>
            {% endif %}
            {{ col.content }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
