{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('PROJECT_NAME/footer') }}

{% set footer_cols = [
  {
    'headline': atom('footer-col1-header'),
    'content': atom('footer-col1-text'),
  },
  {
    'headline': atom('footer-col2-header'),
    'content': atom('footer-col2-text'),
  },
  {
    'headline': atom('footer-col3-header'),
    'content': atom('footer-col3-text'),
  },
  {
    'headline': atom('footer-col4-header'),
    'content': atom('footer-col4-text'),
  }
] %}

<footer class="footer">
  <div{{ create_attribute().addClass(['footer__inner', 'section', 'theme', 'theme-primary']) }}>
    <div class="container">
      <div class="row">
        {% if footer_cols|length > 0 %}
          {% set number_of_cols = 12 / footer_cols|length %}
          {% for col in footer_cols %}
            <div class="col-xs-12 col-md-{{ number_of_cols }}">
              {% if col.headline %}
                <div><b>{{ col.headline }}</b></div>
              {% endif %}
              {{ col.content }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</footer>
