{{ attach_library('dds_premium/icon-button') }}

<a{{ (not attributes ? create_attribute() : attributes).addClass('icon-button') }}>
  {% block icon %}
    {% include '@atoms/svg-icon/svg-icon.twig' with {
      'attributes': icon.attributes,
      'svgIconName': icon.svgIconName
    } %}
  {% endblock %}
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
</a>
